.footer {
	background-color: $clr-neutral-100;
	padding-top: 12rem;
	padding-bottom: 3rem;
	color: hsla(193, 100%, 96%, 0.9);

	.footer-grid {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr;

		.contact {
			margin-right: 5rem;
			line-height: 1.4;

			.contact-item {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 1rem;

				&:first-child {
					align-items: flex-start;

					.icon-wrapper {
						margin-top: 0.5rem;
					}
				}

				.icon-wrapper {
					width: 1.25rem;
					flex-shrink: 0;
				}

				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
		}

		.sitemap-link {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}

			a:hover {
				text-decoration: underline;
			}
		}

		.credits {
			.sns-links {
				display: flex;
				align-items: flex-start;
				gap: 0.8125rem;

				.sns-link {
					color: $clr-white;
					width: 2rem;
					height: 2rem;
					line-height: 2rem;
					font-size: 0.75rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border: 1px solid $clr-white;
					border-radius: 50%;
					transition: all 0.5s ease;

					a {
						padding: 2rem;
					}

					&:hover {
						color: $clr-primary;
						border-color: $clr-primary;
					}
				}
			}

			.copyright {
				font-size: 0.7rem;
				margin-top: 11.25rem;
			}
		}
	}
}
