.cta-card {
	max-width: 50rem;
	width: 94vw;
	margin-inline: auto;
	text-align: center;
	box-shadow: 0 -0.25rem 1rem hsla(208, 11%, 55%, 0.2);
	border-radius: 0.75rem;
	padding: 3.25rem;

	.cta-heading {
		font-size: 2rem;
		margin-bottom: 2.375rem;
	}
}
