.container {
	max-width: $max-width;
	margin-inline: auto;
	padding-inline: 2rem;
}

// Buttons
.btn {
	font-weight: 700;
	font-size: 0.875rem;
	padding-block: 1rem;
	padding-inline: 4rem;
	border-radius: 3.125rem;
	box-shadow: 0 0.25rem 1rem 0 hsla(0, 0%, 0%, 0.1);

	&-light {
		background-color: $clr-white;
		color: $clr-neutral-100;
	}

	&-primary {
		background-color: $clr-primary;
		color: $clr-white;
	}

	&:hover {
		opacity: 0.8;
		transition: opacity 0.5s ease;
	}
}
