// Import Font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

// Font Family
$ff-headings: 'Poppins', sans-serif;
$ff-body: 'Open Sans', sans-serif;

// Font Size (Body Copy)
$fs: 1.125rem;

// Max Width (Container)
$max-width: 80rem;

// Colors
$clr-primary: hsl(322, 100%, 66%);
$clr-secondary: hsl(208, 11%, 55%);

$clr-neutral-100: hsl(192, 100%, 9%);
$clr-neutral-900: hsl(193, 100%, 96%);

$clr-white: hsl(0, 0%, 100%);
